@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	body {
		@apply bg-gray-50 text-gray-800 antialiased;
		font-feature-settings: "cv02", "cv03", "cv04", "cv11";
	}
	a {
		@apply text-indigo-600 hover:text-indigo-700 transition-colors;
	}
}
